  <div>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['/home']">Autumn Store</a>
        
      <ul class="navbar-nav mr-auto">
        <!-- categories -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/category']">Categories</a>
        </li>
    
        <!-- shopping cart -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shopping-cart']">
            <i class="fa" style="font-size: 28px; color:white">&#xf07a;</i>
            <span class='badge badge-warning' id='cartItemsCount'> {{cartItemsCount}} </span>
            <!-- <span class='badge badge-warning' id='cartItemsCount' [(ngModel)]="cartItemsCount" ngDefaultControl> {{cartItemsCount}} </span> -->
          </a>
        </li>
      </ul>

        <!-- logout button -->
        <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn()">
          <a class="nav-link fa fa-sign-out text-light" (click)="logOut()">Log Out</a>
        </ul>

        <!-- dropdown -->
        <div *ngIf="loggedIn()" class="dropdown">
          <a class="dropdown-toggle text-light">
            Welcome {{authService.decodedToken?.unique_name | titlecase}}
          </a>

          <div class="dropdown-menu">
            <a class="dropdown-item" class="fa fa-user">Edit profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logOut()" class="fa fa-sign-out">Log Out</a>
          </div>
        </div>

        <!-- login -->
        <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login(); loginForm.reset()">
          <input class="form-control mr-sm-2" type="text" name="username" 
            placeholder="Username" required [(ngModel)]="model.username">
          <input class="form-control mr-sm-2" type="password" name="password" 
            placeholder="Password" required [(ngModel)]="model.password">
          <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Sign In</button>
        </form>
    </nav>
    <router-outlet></router-outlet>
  </div>


