.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
    margin-left:20px;
    margin-right:20px;
  }

  .navbar-nav > a{
    padding-left:20px;
    padding-right:20px;
    margin-left:20px;
    margin-right:20px;
  }

  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  /* .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605; */
  /* } */
  #cartItemsCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }
