<!-- <div class="cart-item"> -->
  <div class="row">
    <div class="col-md-4">
        <span> {{ cartItem.productName }} </span>
        <br/>
        <small class="text-muted"> PRODUCT CODE: {{ cartItem.productId }} </small>
    </div>
    
    <div class="col-md-4">
      <span>
        <div class="def-number-input number-input safari_only">
          <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
          <input class="quantity" min="0" name="quantity" value="1" type="number">
          <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
        </div>
      </span>
     </div>
    <!-- <span> {{ cartItem.qty }} </span> -->
    
    <!-- qty of an item -->
    <div class="col-md-3">
      <strong> {{ cartItem.qty * cartItem.price | currency:'USD'}} </strong>
    </div>

    <!-- remove item button -->
    <div class="d-flex justify-content-between">
      <!-- <button class="btn btn-default btn-lg" (click)="handleAddToCart()"> <i class="glyphicon glyphicon-trash"></i> -->
        <button class="btn" (click)="removeItem()" ><i class="fa fa-trash"></i></button>
      <!-- </button> -->
    </div>
  </div>
  
<!-- </div> -->


<!-- glyphicon glyphicon-trash -->


